/* Reset and Base Styles */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #e5eaef;
  }
  
  /* Profile Container Styling */
  .ProfileContainer {
    display: flex;
    flex-direction: row;
    margin-top: 5.8em;
    margin-bottom: 10em;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    max-width: 1200px;
    margin: 0 auto;
    
  }
  
  /* Main Content Styling */
  .main-contents {
    flex: 1;
    padding: 20px;
    background-color: #f3eeee;
    background: white;
    color: rgb(0, 0, 0);
    border-radius: 0 8px 8px 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px; /* Rounded corners for a modern look */
    box-shadow: 0px 4px 10px rgba(16, 54, 94, 0.1); /* Subtle shadow for a 3D effect */
    margin: 20px; /* Add spacing around the element */
    font-size: 14px; /* Small font size for compact display */
    line-height: 1.5; /* Ensure text readability */
    height: 100%;
    overflow: hidden;
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
  }
  
  .main-contents p { 
    margin: 10px 0;
    font-style: normal;
    padding: 8px;
    display: flex;
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 1;
    font-weight: lighter;
    background-color: rgba(255, 255, 255, 0.484);
    border-radius: 5px; /* Rounded corners for a modern look */
  }
  
  .main-contents p span {
    font-weight: bolder;
  }

  /* Responsive Design */
  @media (max-width: 768px) {
    .ProfileContainer {
      flex-direction: column;
    }
  
    .SideMenu {
      width: 100%;
      min-width: unset;
      margin-bottom: 20px;
      border-radius: 8px;
    }
  
    .main-contents {
      border-radius: 8px;
    }
  }