/* grid c1 */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
.amt-inp {
  background: transparent;
}
.grid-c1 {
  display: flex;
  flex-direction: column;
}
.grid-c1-content {
  background: #fff;
  flex: 1;
  width: 30em;
  border-radius: 8px;
  padding: 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.grid-c1-content .lg-value {
  margin-top: 8px;
  margin-bottom: 16px;
  color: #c7c4c6;
  font-size: small;
}
.submit-btn {
  background: #db0011;
  padding: 10px 15px;
  color: #fff;
  font-size: small;
  margin: 2em 0 1em;
}
.grid-c1-content .expiry-text {
  margin-bottom: 6px;
}
.grid-c1-content .card-wrapper {
  display: flex;
}
.grid-c1-content .card-pin-hidden {
  font-size: 32px;
  margin-right: 8px;
}
.grid-c1-content span {
  color: #8a8587;
}
.grid-c1 .card-logo-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.grid-c1 .card-logo {
  display: flex;
}
.grid-c1 .logo-shape1,
.grid-c1 .logo-shape2 {
  width: 36px;
  height: 36px;
  border-radius: 100%;
}
.grid-c1 .logo-shape1 {
  background-color: var(--clr-scarlet-v1);
  margin-right: -15px;
  z-index: 0;
}
.grid-c1 .logo-shape2 {
  background-color: var(--clr-yellow);
}

@media screen and (max-width: 768px) {
  .grid-c1 {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
