.table-main {
  margin: 25px 0 0;
  color: #333;
  width: 100%;
  table-layout: fixed;
}

.row-container {
  padding: 10px 0;
}

.text {
  font-size: 1rem;
  padding: 10px 0 20px;
}

.table-main tbody tr:first-child .text {
  font-size: 1.5rem;
  padding-bottom: 30px;
}